doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')

    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

    link(rel="stylesheet" href=('/vendor/material.teal-blue.min.css'))
    script(defer src="/vendor/material.min.js")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")

    title Опрос

  body.mdl-color--grey-100
    .ribbon.mdl-color--teal-600(style="width: 100%; height: 40vh;")
    form(action="/results", method="GET")
      .mdl-card.mdl-shadow--4dp(style="width: 90%; background: white; left: 5%; margin-top: -20vh; margin-bottom: 50px; padding: 0px 16px ")
        .mdl-card__title
          h4 Тест "#{questions.topic}"
        .mdl-card__title(style='padding-top: 0px; padding-bottom: 4px;')
          span(style="color: rgba(0,0,0,.5)") Составители теста: 
          span(style="color: rgba(0,0,0,.8)") Виниченко Владимир, Строков Сергей
        .mdl-card__title(style='padding-top: 0px; padding-bottom: 4px;')
          span(style="color: rgba(0,0,0,.5)") Разработчик сайта:  
          span(style="color: rgba(0,0,0,.8)") Тихонов Сергей
        .mdl-card__title(style='padding-top: 0px; padding-bottom: 4px;')
          span(style="color: rgba(0,0,0,.5)") Группа:  
          span(style="color: rgba(0,0,0,.8)") П-403
        .mdl-card__supporting-text(style='padding-top: 0px;')
          - var questionIndex = 0;
          each question in questions.list
            h6(style='color:black') #{questionIndex + 1}. #{question.title}
            
            - var manyOptions = question.options.correct.length > 1;
            - var shuffledOptions = shuffle(question.options.correct.concat(question.options.incorrect).map((val, i) => {
            -   return { index: i, value: val } 
            - }));
            
            each option in shuffledOptions
              if manyOptions
                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='checkbox-'+option.index+questionIndex, style='padding-bottom: 5px;')
                  input.mdl-checkbox__input(type='checkbox', name=questionIndex, value=option.index, id='checkbox-'+option.index+questionIndex)
                  span.mdl-checkbox__label #{option.value}
              else
                label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='option-'+option.index+questionIndex, style='padding-bottom: 5px;')
                  input.mdl-radio__button(type='radio', name=questionIndex, value=option.index, id='option-'+option.index+questionIndex)
                  span.mdl-radio__label #{option.value}
              br
              

            - questionIndex++;
        .mdl-card__actions.mdl-card--border
          input.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(type="submit", style="float: right;", value='Отправить') 
